<!-- success-modal.component.html -->
<div class="modal">
  <div class="modal-content">
    <p class="alert-message">Un chauffeur avec la même adresse e-mail ou CIN existe déjà.</p>
  </div>
</div>
<style>

  /* styles.css or success-modal.component.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.alert-message {
  color: #f00; /* Specify your desired color */
  font-weight: bold;
}

</style>